<!--homepage-->
    <section class="main-body is-flex is-flex-direction-column">

<section class="hero is-flex is-flex-direction-row">

    <div class="hero-body">
    <p class="title">
    Primary Games
    </p>
    <p class="subtitle">
        World's #1 Game Shop 
    </p>
    </div>

    <input class="input is-rounded m-auto" type="text" placeholder="PlayStation is the best Console">
    <a><i class="fas fa-shopping-cart m-5 p-0 is-size-4" id="shopping-cart"></i></a>

</section>

    <!--random Game Cover background Image-->
<section class="hero mb-5 is-medium">
    <!-- Game Image -->
        <img class="main-background m-auto" src="https://media.rawg.io/media/games/20a/20aa03a10cda45239fe22d035c0ebe64.jpg"<!--{{game.background_image}}-->>
</section>

<!-- Platform  Section -->
<section class="hero m-auto is-flex is-flex-direction-row is-flex-wrap-wrap">

<!-- Platform select Container -->
    <div class="select m-3 is-medium is-danger" id="select-platform">
        {{platformSelectTemplate}}
    </div>

    <!-- Platform select Container -->
    <div class="select m-3 is-medium is-danger" id="select-genre">
        {{genreSelectTemplate}}
    </div>  

</section>

<!-- Game Section -->
<section class="hero is-small mt-5">
    <div class="hero-body">
    <p class="title is-underlined">
    Games
    </p>
    </div>
</section>

<!-- Game Container -->
<section class="hero is-large is-flex is-flex-direction-column">
    <div class="game-container m-5 is-flex is-flex-direction-row is-justify-content-space-evenly is-flex-wrap-wrap">
    
    <!-- Game Cards-->
    {{gameCardTemplate}}
    
    <!-- Pop-up Window for card-->
    <div id="popup" class="popup" style="display: none;">
        <button id="close-button">X</button>
        <p class="game-bio">{{this.description}}</p>
        <p class="game-platform">Game Platform</p>
        <p class="game-cost">Game Cost</p>
        <button class="button is-primary" id="add-to-cart-button">Add to Cart</button>
    </div>

    </div>

</section>



</section>